<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup/Login Form</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
    <div class="container-fluid">
        <div class="row w-85">

            <!-- Left Section -->
            <div class="col-md-5 left-section">
                <div class="row">
                    <div class="text-center">
                        <img src="assets/logo.png" alt="Logo" class="logo" style="float: left;">
                    </div>
                    <img src="assets/illustration.png" alt="Illustration" class="illustration">
                </div>

            </div>
            <!-- Right Section -->
            <div class="col-md-7 right-section">
                <button (click)="goBack()" class="btn btn-link">
                    &larr; Go Back
                </button>
                <h2 class="text-justify mb-4"><b>Create Account</b></h2>
                <form>
                    <div class="form-group">
                        <label for="name">Organisation-name</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="organizationName"
                            name="organizationName" placeholder="Organisation Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Organisation-id</label>
                        <input type="number" class="form-control" id="id" [(ngModel)]="organizationId"
                            name="organizationId" placeholder="Organisation Id">
                    </div>

                    <div class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <select id="designation" class="form-control" [(ngModel)]="designation" name="designation">
                            <option value="">Select Designation</option>
                            <option value="Developer">Developer</option>
                            <option value="Manager">Manager</option>
                            <option value="Designer">Designer</option>
                        </select>
                    </div>

                    <mat-form-field appearance="fill">
                        <mat-label>Birth-date</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      


                    <div class="input-group">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" id="city" class="form-control" [(ngModel)]="city" name="city" placeholder="city">
                        </div>
                        
                        &nbsp; &nbsp; &nbsp;
                       
                        <div class="form-group">
                            <label for="pincode">Pincode</label>
                            <input type="text" id="pincode" class="form-control" [(ngModel)]="pincode" name="pincode"
                                maxlength="6" placeholder="pincode" (blur)="validatePincode()">
                            <div *ngIf="pincodeError" class="text-danger">
                                {{ pincodeError }}
                            </div>
                        </div>
                    </div>
                    
                    

                    <button type="submit" class="btn btn-primary" (click)="validateOrganization()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>